body, p, h1, ul, li, blockquote{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Volkorn', Georgia, serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  display: block;
  border-radius: 5px;
}

/*Grid geral*/

.estrutura{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
  'header header header'
  'sidenav content anuncios'
  'footer footer footer'
  ;
}

@media(max-width:1000px){
  .estrutura{
    grid-template-columns: minmax(160px, 1fr) 3fr;
    grid-template-areas: 
    'header header'
    'sidenav content'
    'sidenav  anuncios'
    'footer footer'
    ;
  }
}

@media(max-width:760px){
  .estrutura{
    grid-template-columns: 100%;
    grid-template-areas: 
    'header'
    'sidenav'
    'content'
    'anuncios'
    'footer'
    ;
  }
}